.lsqlFieldInputs {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 0.2em;
}

.lsqlFieldContainer {
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    margin: 0.2em 0 0.2em 2em;
    display: inline-flex;
    justify-content: stretch;
}

.lsqlFieldDropdown {
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 8;
}

.lsqlFieldText {
    flex-basis: 10px;
    flex-grow: 5;
    flex-shrink: 2;
}

.lsqlFieldTextInvalid {
    background-color: khaki;
}