.lsqlQuerybuilderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: black;
    background-color: cadetblue;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.5em 0.5em;
    border-radius: 10px;
}

