.lsql-field-inputs {
    display: inline-flex;
    justify-content: flex-start;
    width: 100px;
}

.lsql-field-container {
    width: 100px;
    flex-shrink: 1;
    margin: 0.2em;
    margin-left: 1em;
    display: inline-flex;
    justify-content: flex-start;
}

.lsql-field-dropdown {
    width: 20em;
    flex-grow: 1;
}

.lsql-field-text {
    margin: 0 0.2em;
}