.lsql-groupbuilder-container {
    --hover-colour: aqua;
    --good-hover-colour: green;
    --bad-hover-colour: red;
    --selected-button-colour: blue;
    --unselected-button-colour: cornsilk;
    --button-border-colour: black;
    display: inline-flex;
    flex-direction: column
}

.lsql-groupbuilder-header {
    display: inline-flex;
    align-items: center;
}

.lsql-groupbuilder-negatebutton,
.lsql-groupbuilder-addbutton,
.lsql-groupbuilder-deletebutton {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid var(--button-border-colour);
    background-color: var(--unselected-button-colour);
    border-radius: 100%;
    margin: 0.2em;
}

.lsql-groupbuilder-negatebutton:hover {
    background-color: var(--hover-colour);
}

.lsql-groupbuilder-addbutton:hover {
    background-color: var(--good-hover-colour);
}

.lsql-groupbuilder-deletebutton:hover {
    background-color: var(--bad-hover-colour);
}

.lsql-groupoperator-container {
    display: inline-flex;
}

.lsql-groupoperator-container div {
    border: 0.1em solid var(--button-border-colour);
    width: 3em;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.lsql-groupoperator-unselected:hover {
    background-color: var(--hover-colour);
}

.lsql-groupoperator-selected {
    background-color: var(--selected-button-colour);
    color: white;
}

.lsql-groupoperator-unselected {
    background-color: var(--unselected-button-colour);
}