.lsql-groupbuilder-container {
    display: inline-flex;
    flex-direction: column
}

/* Clickable and toggleable elements */
.lsql-toggleable, .lsql-clickable {
    cursor: pointer;
    user-select: none;
}
.lsql-toggleable:not(.lsql-toggled), .lsql-clickable:not(.lsql-clicked) {
    background-color: var(--unselected-button-colour);
}
.lsql-toggleable:hover, .lsql-clickable:hover, .lsql-toggled:hover {
    background-color: var(--hover-colour);
}
.lsql-toggleable.lsql-toggled, .lsql-clickable.lsql-clicked {
    background-color: var(--selected-button-colour);
    color: white;
}

.lsql-groupbuilder-header {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.lsql-circle {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid var(--button-border-colour);
    border-radius: 100%;
    margin: 0.2em;
}

.lsql-groupoperator-container {
    display: inline-flex;
    margin-left: 1em;
}

.lsql-groupoperator-container div {
    border: 0.1em solid var(--button-border-colour);
    width: 3em;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}