* {
    /* Variables for everything in this library */
    --hover-colour: aqua;
    --good-hover-colour: green;
    --bad-hover-colour: red;
    --selected-button-colour: blue;
    --unselected-button-colour: cornsilk;
    --button-border-colour: black;
}

.lsql-querybuilder-container {
    color: black;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

