.lsql-querybuilder-container {
    color: black;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 1%;
    border-radius: 10px;
}

